<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="7" id="com.ksu.ayat2" ios-CFBundleVersion="1.1.0" version="2.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>
	آيات 
	</name>
    <description>
       آيات
    </description>
    <author email="contact@ksu.edu.sa.com" href="https://ksu.edu.sa">
        Ibrahim BIDI
    </author>
    <access origin="*" />
    <plugin name="cordova-plugin-screen-orientation" />
    <plugin name="cordova-plugin-file" />
    <plugin name="cordova-plugin-file-transfer" />
    <plugin name="cordova-plugin-vibration" />
    <plugin name="cordova-plugin-x-socialsharing" />
	 <plugin name="cordova-plugin-clipboard-x" spec="~1.0.1" />
    <plugin name="cordova-plugin-x-toast" />
    <plugin name="https://github.com/Sharinglabs/cordova-plugin-datepicker" />
    <plugin name="cordova-plugin-dialogs" />
    <plugin name="https://github.com/katzer/cordova-plugin-local-notifications.git" />
    <plugin name="cordova-plugin-network-information" />
    <preference name="Theme" value="com.eclipsesource.tabris.android.R.style.Theme_Tabris_Light_DarkActionBar" />
    <preference name="EnableDeveloperConsole" value="false" />
    <preference name="Orientation" value="portrait" />
   
</widget>
