<?xml version='1.0' encoding='utf-8'?>
<widget id="edu.ksu.ayat2" version="2.0.4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Ayat 2</name>
    <description>Ayat 2
    </description>
    <author email="dev@edu.ksu.sa" href="http://edu.ksu.sa">
        EDU KSU
    </author>
    <content src="main.js" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    	<plugin name="cordova-plugin-media" />
	<plugin name="cordova-plugin-file"/>
	   <plugin name="cordova-plugin-vibration" />
     <plugin name="cordova-plugin-screen-orientation" />
    <plugin name="cordova-plugin-file" />
    <plugin name="cordova-plugin-file-transfer" />
    <plugin name="cordova-plugin-vibration" />
    <plugin name="cordova-plugin-x-socialsharing" />
	 <plugin name="cordova-plugin-clipboard-x"  />
    <plugin name="cordova-plugin-x-toast" />
    <plugin name="cordova-plugin-dialogs" />
       <plugin name="cordova-sqlite-ext" />   
	
	 <plugin name="cordova-plugin-dbcopy" /> 
	 <plugin name="cordova-plugin-local-notifications" /> 
	 <plugin name="cordova-plugin-datepicker" /> 
	 <plugin name="cordova-plugin-actionsheet" /> 
	<access origin="*" />
    <allow-intent href="http:///" />
    <allow-intent href="https:///" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="ios" spec="../tabris-ios" />
</widget>
